
*{margin:0; padding:0; list-style:none;text-decoration:none;} 
body{background:url(../img/bg.jpg) top left no-repeat;text-align:center;} 
.clearfix:after {content: ''; display: block; clear: both;}
#wrap{margin:0 auto; padding-bottom:0; position:relative; min-width:1215px;border:none;}

/* 퀵메뉴 스타일 정의 */
#floatdiv {position: absolute; right: 0px; top: 250px; margin-left: 30px;}
#floatdiv ul {list-style: none; border: 0; margin: 0; padding: 0;}
#floatdiv ul li {list-style: none; border: 0; margin: 0; padding: 0;}
#floatdiv ul li span{margin: 0 0 5px 0; cursor: pointer;}
#floatdiv ul li .btn01{display: block; width: 40px; height: 40px; background: url(../img/off.png) no-repeat;}
#floatdiv ul li .btn02{display: block; width: 40px; height: 40px; background: url(../img/off.png) no-repeat;}
#floatdiv ul li .btn03{display: block; width: 40px; height: 40px; background: url(../img/off.png) no-repeat;}
#floatdiv ul li .btn04{display: block; width: 40px; height: 40px; background: url(../img/off.png) no-repeat;}
#floatdiv ul li .btn05{display: block; width: 40px; height: 40px; background: url(../img/off.png) no-repeat;}
#floatdiv ul li .btn06{display: block; width: 40px; height: 40px; background: url(../img/off.png) no-repeat;}
#floatdiv ul li .btn07{display: block; width: 40px; height: 40px; background: url(../img/off.png) no-repeat;}
#floatdiv ul li .btn08{display: block; width: 40px; height: 40px; background: url(../img/off.png) no-repeat;}
#floatdiv ul li .btn09{display: block; width: 40px; height: 40px; background: url(../img/off.png) no-repeat;}
#floatdiv ul li .btn10{display: block; width: 40px; height: 40px; background: url(../img/off.png) no-repeat;}

#floatdiv ul li:hover .btn01{background:url(../img/on.png) no-repeat;}
#floatdiv ul li:hover .btn02{background:url(../img/on.png) no-repeat;}
#floatdiv ul li:hover .btn03{background:url(../img/on.png) no-repeat;}
#floatdiv ul li:hover .btn04{background:url(../img/on.png) no-repeat;}
#floatdiv ul li:hover .btn05{background:url(../img/on.png) no-repeat;}
#floatdiv ul li:hover .btn06{background:url(../img/on.png) no-repeat;}
#floatdiv ul li:hover .btn07{background:url(../img/on.png) no-repeat;}
#floatdiv ul li:hover .btn08{background:url(../img/on.png) no-repeat;}
#floatdiv ul li:hover .btn09{background:url(../img/on.png) no-repeat;}
#floatdiv ul li:hover .btn10{background:url(../img/on.png) no-repeat;}

#floatdiv ul li.active .btn01{background: url(../img/on.png) no-repeat;}
#floatdiv ul li.active .btn02{background: url(../img/on.png) no-repeat;}
#floatdiv ul li.active .btn03{background: url(../img/on.png) no-repeat;}
#floatdiv ul li.active .btn04{background: url(../img/on.png) no-repeat;}
#floatdiv ul li.active .btn05{background: url(../img/on.png) no-repeat;}
#floatdiv ul li.active .btn06{background: url(../img/on.png) no-repeat;}
#floatdiv ul li.active .btn07{background: url(../img/on.png) no-repeat;}
#floatdiv ul li.active .btn08{background: url(../img/on.png) no-repeat;}
#floatdiv ul li.active .btn09{background: url(../img/on.png) no-repeat;}
#floatdiv ul li.active .btn10{background: url(../img/on.png) no-repeat;}

#top_menu{position:fixed; width:100%; height:85px; text-align:center; top:0px; background:#727272; left: 0;}
#top_menu ul{float:right; margin-right:50px;}
#top_menu ul li{padding:28px 15px 0 0; float:left; list-style:none;}
#top_menu ul li a{text-decoration:none; font-family: 'Nanum Gothic'!important;color:#ffffff; text-decoration:none; font-weight:bold; font-size:16px;}
#top_menu ul li.on a{color:#f1e28f; font-weight:bold; border-bottom:1.8px solid #f1e28f; padding-bottom:5px; }

#hr{float:left; width:125px; color:#ffffff; margin-left:200px; margin-top:20px;}
	#hr img{width:80px;border:none;}
	
/*	#hr ul li a{letter-spacing:-2px;} --> */

#mainimg{width:1215px; height:561px; list-style: none; border: 0; margin: 0; padding: 0;}

#contents{width:1215px;height:8901px; text-align:center; }
	
.profile{width:100%; height:1178px; align-content: center; }
	/*#profile img {display:inline-block;}*/

	
#section3{width:100%; height:800px; margin:0 auto;   padding-top:90px; text-decoration:none;}
	#section3 h2{font-size:40px;font-family: 'Teko';font-weight: bold;  }
	#section3 .moniter{background-image: url(../img/project01_r.png); background-repeat:no-repeat;overflow: hidden; background-size:100%;cursor:pointer;width:50%; height:450px; float:left; }
	#section3 .moniter a img{border:none;width:75%; height:auto; display:none;}
/* 수정 */#section3 .css_text{margin-left:41px; width:45%; float:left; display:block;margin-top:35px;}
	#section3 .css_sub{ height:180px; width:100%; float:left; margin-top:25px;}
	a{color:#fff;}
	#section3 .css_sub .box01{width:330px;float:left; height:180px; margin-right:5px;}
	#section3 .css_sub .box02{width:330px; float:left; height:180px; margin-right:5px;}
	#section3 .css_sub .box03{width:330px;float:left; height:180px; margin-right:5px;}
	#section3 .css_sub .box04{width:330px; float:left; height:180px; margin-right:5px;}
	.txtbox01>h4{font-size:1.05em;color:#858585; font-family: 'Nanum Gothic'; font-weight:800;margin-left: 10px; margin-top:20px;}
	.txtbox01>h4>span{font-weight:400;font-size:1em}
	.txtbox01>p{color:#858585;font-size:0.9em; line-height:21px; margin-top:35px; margin-left:10px; font-family:'Nanum Gothic';}
	.txtbox01>p>b{font-weight: bold;font-size:0.9em;}
	.txtbox01>p>i{color:#858585;}
	.txtbox02{width:340px;height:200px;}
	.txtbox02>.colorbox01{margin:5px 20px -20px 15px; float:left; width:45px; height:45px;}
	.txtbox02>.colorbox01 img{border-radius:5px; border:1px solid #ddd;line-height:-20px;}
	.txtbox02>.colorbox01>p{color:#858585;font-size:0.8em;margin-bottom:40px;display:block;}
	.txtbox02>h4{font-size:0.9em; color:#858585; font-family: 'Nanum Gothic'; font-weight:800;margin-left: 10px; margin-top:20px;margin-bottom:10px;}
	

	
#section4{width:100%; height:1200px; margin:0 auto;padding-bottom:90px; text-decoration:none;}



#section9{width:1215px; height:940px; margin:0 auto;  padding-top:150px; text-decoration:none;}
	#section9 h2{font-size:40px; margin-bottom:20px;font-family: 'Teko';font-weight: bold; }
	#eventimg img{width:1285px; height:auto;}
